/* shared_style.css */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input {
    width: 100%;
    padding: 12px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 25px;
    font-size: 16px;
}

.btn {
    display: block;
    width: 150px; /* Adjusted button width */
    margin: 0 auto; /* Center the button */
    padding: 12px;
    background-color: #053383;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4d84e2;
}

.messages {
    margin-top: 20px;
    text-align: center;
}

.message {
    color: #007bff;
    margin-bottom: 10px;
}

.resend-otp {
    text-align: center;
    margin-top: 20px;
}

.resend-otp-container {
    display: inline-block;
}
