<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarGO - Car Rental and Sales</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo">CarGO</div>
            <div class="menu-toggle" id="mobile-menu">
                <i class="fas fa-bars"></i>
            </div>
            <nav>
                <ul class="nav-list">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'sales' %}">Cars for Sale</a></li>
                    <li><a href="{% url 'rentals' %}">Cars for Rent</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'view_watchlist' %}">Watchlist</a></li>
                    {% endif %}
                    <li class="search-button">
                        <input type="text" id="search-input" placeholder="Search...">
                    </li>
                    {% if user.is_authenticated %}
                        <li class="right"><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="right"><a href="{% url 'login_register' %}">Sign In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer class="site-footer">
            <div class="footer-content">
                <p>&copy; {{ current_year }} CarGO. All rights reserved.</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>

