{% extends "base.html" %}
{% load static %}

{% block title %}
    Home - Website
{% endblock %}

{% block content %}
    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="image" src="{% static 'images/Rolls-Royce Phantom.jpg' %}" draggable="false">
        <img class="image" src="{% static 'images/Ford Mustang.jpg' %}" draggable="false">
        <img class="image" src="{% static 'images/Jeep Wrangler.jpg' %}" draggable="false">
        <img class="image" src="{% static 'images/Lamborghini Aventador.jpg' %}" draggable="false">
        <img class="image" src="{% static 'images/Tesla Model S.jpg' %}" draggable="false">
        <img class="image" src="{% static 'images/Porsche 911.jpg' %}" draggable="false">
        <img class="image" src="{% static 'images/Chevrolet Corvette.jpg' %}" draggable="false">
    </div>
{% endblock %}
