<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khalti Payment</title>
</head>
<body>
    <form action="{% url 'initiate' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="purchase_order_id" value="{{ uuid }}" id="pid">
        <input type="hidden" name="amount" value="1000" id="amt">
        <input type="hidden" name="return_url" value="http://127.0.0.1:8000/verify">
        <input type="submit" value="Pay With Khalti">
    </form>
</body>
</html>
