{% extends 'base.html' %}

{% block content %}
<main>
    <section id="sales">
        <h2>Cars for Sale</h2>
        <div class="car-list" id="car-sale-list">
            {% for car in cars_for_sale %}
            <div class="car-item">
                <h3>{{ car.make }} {{ car.model }} ({{ car.year }})</h3>
                <p>{{ car.description }}</p>
                <p class="price">Rs. {{ car.price }}</p>
                <a href="{% url 'car_detail' car.id %}">
                    <button class="btn">View Details</button>
                </a>
            </div>
            {% empty %}
            <p>No cars available for sale.</p>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
